<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Fragments</title>
</head>

<body>


	<h2 id="muro-current-rows" th:fragment="rows-title"
		th:text="#{muro-rows(${muroPaging.currentFirstRow()}, ${muroPaging.currentLastRow()})}"
		th:if="${muroPaging.last != muroPaging.first}"></h2>

	<div id="muro-paging" th:fragment="paging(muroPaging)" th:if="${muroPaging.last != muroPaging.first}">
		<a th:href="@{{path}(path=${muroPaging.firstPath()})}">⇤</a>
		<a th:href="@{{path}(path=${muroPaging.previousPath()})}">←</a>
		<span class="muro-pages" th:text="#{muro-pages(${muroPaging.currentPage}, ${muroPaging.last()})}"></span>
		<a th:href="@{{path}(path=${muroPaging.nextPath()})}">→</a>
		<a th:href="@{{path}(path=${muroPaging.lastPath()})}">⇥</a>
	</div>
	
</body>
</html>